**/docroot/WEB-INF/tld/
**/target
*.iml
.classpath
.gh.json
.gradle/
.idea/
.project
.sass-cache/
.settings/
bin/
build/
classes/
lib/
liferay-hook.xml.processed
node_modules/
npm-debug.log
test-classes/
test-coverage/
test-results/
tmp/